{
  "root": true,
  "extends": ["airbnb", "prettier"],
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-alert": 0,
    "no-undef": 1,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": false, "optionalDependencies": false, "peerDependencies": false }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}
