.feed {
	flex: 0.72;
	height: auto;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 15px;

	&__header {
		width: 100%;
		display: flex;
		padding: 30px 30px;
		justify-content: space-between;
		align-items: center;
	}
	&__category {
		flex: 0.3;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	&__products {
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}
