.header {
	width: 100%;
	height: auto;
	background-color: white;
	box-shadow: rgb(0 0 0 / 4%) 0 7px 8px 0;
	padding: 5px 0;
	display: flex;
	justify-content: space-around;
	align-items: center !important;
	&__logo {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #212121;
		margin-right: 50px;
	}
	&__searchBox {
		display: flex;
		align-items: center;
		width: 40%;
		border: 1px solid gray;
		border-radius: 20px;
		padding: 5px;

		.MuiSvgIcon-root {
			color: gray;
		}
		input {
			border: none;
			outline: none;
			width: 100%;
			line-height: 25px;
			padding-right: 5px;
			font-family: IRANSans;
			font-weight: bold;
		}
	}
	&__loginRegister {
		margin-left: 50px;

		ul {
			list-style: none;
			display: flex;
			align-items: center;
			margin: inherit;
			a {
				text-decoration: none;
				color: #212121;
				li {
					margin-left: 20px;
				}
			}
		}
	}
}
