.main {
	width: 100%;

	height: auto;

	.main__ads {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-top: 20px;
		flex-wrap: wrap;
	}
	.main__bannerImage {
		width: 100%;

		height: 400px;
		background-image: url('https://picsum.photos/1600/400');
		background-position: center center;
		background-size: cover;
	}
	.main__content {
		width: 100%;
		height: auto;
		background-color: whitesmoke !important;
		margin-top: 20px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: row;
		padding: 15px;
	}
}

@media screen and (max-width: 960px) {
	.main {
		width: 100%;
		height: auto;
		.main__content {
			flex-direction: column !important;
			align-items: center;
		}
	}
}
