@font-face {
	font-family: 'IRANSans';
	src: local('IRANSans'),
		url('./assets/fonts/IRANSans/eot/IRANSansWeb(FaNum).eot')
			format('embedded-opentype'),
		url('./assets/fonts/IRANSans/woff2/IRANSansWeb(FaNum).woff2')
			format('woff2'),
		url('./assets/fonts/IRANSans/woff/IRANSansWeb(FaNum).woff')
			format('woff'),
		url('./assets/fonts/IRANSans/ttf/IRANSansWeb(FaNum).ttf')
			format('truetype');
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: IRANSans;
}
body {
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f5f5f5;
	direction: rtl;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
